{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <h1 class="mb-4">Partners and Sponsors</h1>
        <p class="mb-4">Discover our partners, sponsors, and donors who support our association.</p>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="static/img/association1.jpg" class="card-img-top" alt="Association 1">
                    <div class="card-body">
                        <h5 class="card-title">ANGAD ORIENTAL MOROCCO ASSOCIATION</h5>
                        <p class="card-text">ANGAD ORIENTAL MAROC ASSOCIATION FOR CULTURAL, SOCIAL AND DEVELOPMENT... MOROCCAN ASSOCIATION FOR THE FIGHT AGAINST CORRUPTION “TRANSPARENCY MAROC”.</p>
                        <a href="http://www.sgg.gov.ma/eservicesAssociations.aspx" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="static/img/association2.jpg" class="card-img-top" alt="Association 2">
                    <div class="card-body">
                        <h5 class="card-title">Moroccan Association of Solidarity and Development</h5>
                        <p class="card-text">The Moroccan Association of Solidarity and Development (AMSED) is a non-profit organization created in 1993. Over the years, the activity of ...</p>
                        <a href="https://www.amsed.ma/" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="static/img/association3.jpg" class="card-img-top" alt="Association 3">
                    <div class="card-body">
                        <h5 class="card-title">Association - Bayti</h5>
                        <p class="card-text">The Bayti association: twenty years of action serving the children of Morocco. Bayti is a Moroccan association recognized as being of public utility whose mission...</p>
                        <a href="https://www.association-bayti.ma/" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
